.popup__content {
    width: 100%;
    max-width: 430px;
    position: relative;
    padding: 34px 36px 37px;
    background-color: #fff;
    border-radius: 10px;
    border: 0;
    box-sizing: border-box;
    margin: 195px auto;
}


@media (max-width: 500px) {
    .popup__content {
        max-width: 282px;
        padding: 25px 22px;
    }
  }