.footer {
    max-width: 880px;
    margin: 69px auto 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2px;
    color: #545454;
}
@media (max-width: 880px) {
    .footer {
        max-width: calc(100% - 40px);
    }
}